CompileFlags:
  Add:
    - -IC:\Users\Haoran
      laptop\.eide\tools\gcc_arm\arm-none-eabi\include\c++\14.3.1
    - -IC:\Users\Haoran
      laptop\.eide\tools\gcc_arm\arm-none-eabi\include\c++\14.3.1\arm-none-eabi\thumb\v7-m\nofp
    - -IC:\Users\Haoran
      laptop\.eide\tools\gcc_arm\arm-none-eabi\include\c++\14.3.1\backward
    - -IC:\Users\Haoran
      laptop\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\14.3.1\include
    - -IC:\Users\Haoran
      laptop\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\14.3.1\include-fixed
    - -IC:\Users\Haoran laptop\.eide\tools\gcc_arm\arm-none-eabi\include
  Remove: []
  CompilationDatabase: ./build/Debug
  Compiler: C:\Users\Haoran laptop\.eide\tools\gcc_arm\bin\arm-none-eabi-gcc.exe
